@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --overlay-color: #03a9f4;
  --background-color: #000;
  --font-color: #fff;
  --menu-width: 300px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  z-index: 2;
  transition: 0.5s
}

.showcase.active {
  right: var(--menu-width);
  width: calc(100% - var(--menu-width));
}

.showcase header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content:space-between;
  text-transform: uppercase;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('assets/icons/menu.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  filter: invert(1);
}

.toggle.active {
  background-image: url('assets/icons/close.svg')
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 3;
}

.text h2 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1rem;
  margin: 20px 0;
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1rem;
  background-color: var(--font-color);
  padding: 10px 30px;
  text-transform: uppercase;
  color: var(--background-color);
  margin-top: 10px;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s
}

.text a:hover{
  letter-spacing: 6px;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 3;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transition: 0.5s;
}

.social li a:hover {
  transform: translateY(-10px)
}

.menu {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--menu-width);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  list-style: none;
  position: relative;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: var(--overlay-color)
}

@media(max-width: 798px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3rem;
  }

  .text h3 {
    font-size: 2rem;
  }
}